adf-subsidios-bo/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-subsidios-bo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/df_spl_asignaciones_mensuales_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_spl"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_asignaciones_mensuales_csv",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_spl_asignaciones_mensuales",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn2"
						},
						{
							"name": "derivedColumn3"
						},
						{
							"name": "derivedColumn4"
						},
						{
							"name": "derivedColumn5"
						}
					],
					"scriptLines": [
						"source(output(",
						"          asignacion_id as string,",
						"          afiliacion_id as string,",
						"          mes as string,",
						"          gestion as string,",
						"          monto_bs as string,",
						"          monto_productos as string,",
						"          monto_carnes as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"source2 derive(estado = upper(trim(estado)),",
						"          monto_bs = round(toFloat(monto_bs), 2),",
						"          gestion = trim(gestion)) ~> derivedColumn2",
						"derivedColumn2 derive(estado = iif(isNull(estado) || trim(estado) == '', 'NO ESPECIFICADO', upper(trim(estado))),",
						"          monto_bs = toDecimal(monto_bs),",
						"          monto_productos = toDecimal(monto_productos),",
						"          monto_carnes = toDecimal(monto_carnes)) ~> derivedColumn3",
						"derivedColumn5 derive(estado = iif(isNull(trim(estado)) || trim(estado) == '', 'SIN_ESTADO', upper(trim(estado))),",
						"          mes = toInteger(mes)) ~> derivedColumn4",
						"derivedColumn3 derive(estado = upper(trim(estado))) ~> derivedColumn5",
						"derivedColumn4 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          asignacion_id as string,",
						"          afiliacion_id as string,",
						"          mes as integer,",
						"          gestion as string,",
						"          monto_bs as decimal(10,2),",
						"          monto_productos as decimal(10,2),",
						"          monto_carnes as decimal(10,2),",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          asignacion_id,",
						"          afiliacion_id,",
						"          mes,",
						"          gestion,",
						"          monto_bs,",
						"          monto_productos,",
						"          monto_carnes,",
						"          estado",
						"     )) ~> sink2"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_spl_cajas_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_spl"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_cajas_csv",
								"type": "DatasetReference"
							},
							"name": "source3"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_spl_cajas",
								"type": "DatasetReference"
							},
							"name": "sink3"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn12"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as string,",
						"          Nombre as string,",
						"          Sigla as string,",
						"          Tipo as string,",
						"          Estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source3",
						"source3 derive(ID = toInteger(ID),",
						"          Nombre = trim(Nombre),",
						"          Sigla = trim(Sigla),",
						"          Tipo = trim(Tipo),",
						"          Estado = trim(Estado)) ~> derivedColumn12",
						"derivedColumn12 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          caja_id as integer,",
						"          nombre as string,",
						"          sigla as string,",
						"          tipo as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          caja_id = ID,",
						"          nombre = Nombre,",
						"          sigla = Sigla,",
						"          tipo = Tipo,",
						"          estado = Estado",
						"     )) ~> sink3"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_spl_certificados_medicos_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_spl"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_certificados_medicos_csv",
								"type": "DatasetReference"
							},
							"name": "source4"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_spl_certificados_medicos",
								"type": "DatasetReference"
							},
							"name": "sink4"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn7"
						}
					],
					"scriptLines": [
						"source(output(",
						"          certificado_id as string,",
						"          afiliacion_id as string,",
						"          fecha_emision as string,",
						"          semana_gestacion as string,",
						"          fecha_probable_parto as string,",
						"          medico_responsable as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source4",
						"source4 derive(fecha_emision = toDate(fecha_emision, 'yyyy-MM-dd'),",
						"          semana_gestacion = iif(isNull(semana_gestacion) || toString(semana_gestacion) == '', toInteger(null()), toInteger(semana_gestacion)),",
						"          fecha_probable_parto = iif(isNull(fecha_probable_parto) || trim(fecha_probable_parto) == '', toDate(null()), toDate(fecha_probable_parto, 'yyyy-MM-dd')),",
						"          medico_responsable = trim(medico_responsable),",
						"          estado = upper(trim(estado))) ~> derivedColumn7",
						"derivedColumn7 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          certificado_id as string,",
						"          afiliacion_id as string,",
						"          fecha_emision as date,",
						"          semana_gestacion as integer,",
						"          fecha_probable_parto as date,",
						"          medico_responsable as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          certificado_id,",
						"          afiliacion_id,",
						"          fecha_emision,",
						"          semana_gestacion,",
						"          fecha_probable_parto,",
						"          medico_responsable,",
						"          estado",
						"     )) ~> sink4"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_spl_empleadores_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_spl"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_empleadores_csv",
								"type": "DatasetReference"
							},
							"name": "source5"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_spl_empleadores",
								"type": "DatasetReference"
							},
							"name": "sink5"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn8"
						}
					],
					"scriptLines": [
						"source(output(",
						"          empleador_id as string,",
						"          nit as string,",
						"          razon_social as string,",
						"          tipo as string,",
						"          nro_patronal as string,",
						"          municipio as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source5",
						"source5 derive(nit = trim(nit),",
						"          razon_social = trim(razon_social),",
						"          tipo = upper(trim(tipo)),",
						"          nro_patronal = upper(trim(nro_patronal)),",
						"          municipio = trim(municipio)) ~> derivedColumn8",
						"derivedColumn8 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          empleador_id as string,",
						"          nit as string,",
						"          razon_social as string,",
						"          tipo as string,",
						"          nro_patronal as string,",
						"          municipio as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          empleador_id,",
						"          nit,",
						"          razon_social,",
						"          tipo,",
						"          nro_patronal,",
						"          municipio",
						"     )) ~> sink5"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_spl_entregas_agencia_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_spl"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_entregas_agencia_csv",
								"type": "DatasetReference"
							},
							"name": "source6"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_spl_entregas_agencia",
								"type": "DatasetReference"
							},
							"name": "sink6"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn9"
						}
					],
					"scriptLines": [
						"source(output(",
						"          entrega_ag_id as string,",
						"          asignacion_id as string,",
						"          ci_beneficiaria as string,",
						"          fecha_entrega as string,",
						"          productos as string,",
						"          lote as string,",
						"          peso_kg as string,",
						"          punto_entrega as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source6",
						"source6 derive(ci_beneficiaria = upper(trim(replace(ci_beneficiaria, '-', ''))),",
						"          fecha_entrega = iif(isNull(fecha_entrega) || trim(fecha_entrega) == '', toDate(null()),   iif(locate('/', fecha_entrega) > 0,     toDate(fecha_entrega, 'dd/MM/yyyy'),     iif(toInteger(left(trim(fecha_entrega), 4)) > 31,       toDate(fecha_entrega, 'yyyy-MM-dd'),       toDate(fecha_entrega, 'dd-MM-yyyy')))),",
						"          productos = trim(regexReplace(productos, '  +', ' ')),",
						"          lote = upper(trim(lote)),",
						"          peso_kg = toDecimal(peso_kg),",
						"          punto_entrega = upper(trim(regexReplace(punto_entrega, '  +', ' ')))) ~> derivedColumn9",
						"derivedColumn9 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_ag_id as string,",
						"          asignacion_id as string,",
						"          ci_beneficiaria as string,",
						"          fecha_entrega as date,",
						"          productos as string,",
						"          lote as string,",
						"          peso_kg as decimal(8,2),",
						"          punto_entrega as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          entrega_ag_id,",
						"          asignacion_id,",
						"          ci_beneficiaria,",
						"          fecha_entrega,",
						"          productos,",
						"          lote,",
						"          peso_kg,",
						"          punto_entrega",
						"     )) ~> sink6"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_spl_entregas_supermercado_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_spl"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_entregas_supermercado_csv",
								"type": "DatasetReference"
							},
							"name": "source7"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_spl_entregas_supermercado",
								"type": "DatasetReference"
							},
							"name": "sink7"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn10"
						}
					],
					"scriptLines": [
						"source(output(",
						"          entrega_super_id as string,",
						"          asignacion_id as string,",
						"          ci_beneficiaria as string,",
						"          supermercado_id as string,",
						"          fecha_retiro as string,",
						"          tipo_carne as string,",
						"          cantidad_kg as string,",
						"          monto_bs as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source7",
						"source7 derive(ci_beneficiaria = upper(trim(regexReplace(regexReplace(ci_beneficiaria, '^[a-zA-Z]+', ''), '-', ''))),",
						"          fecha_retiro = iif(isNull(fecha_retiro) || trim(fecha_retiro) == '', toDate(null()),   iif(locate('/', fecha_retiro) > 0,     iif(toInteger(left(trim(fecha_retiro), 2)) > 12,       toDate(fecha_retiro, 'dd/MM/yyyy'),       toDate(fecha_retiro, 'MM/dd/yyyy')),     iif(length(trim(fecha_retiro)) == 10 && toInteger(left(trim(fecha_retiro), 2)) <= 31 && toInteger(substring(trim(fecha_retiro), 4, 2)) <= 12,       toDate(fecha_retiro, 'dd-MM-yyyy'),       toDate(fecha_retiro, 'yyyy-MM-dd')))),",
						"          tipo_carne = upper(trim(tipo_carne)),",
						"          cantidad_kg = iif(isNull(cantidad_kg) || toString(cantidad_kg) == '', toDecimal(null()), toDecimal(cantidad_kg)),",
						"          monto_bs = iif(isNull(monto_bs) || toString(monto_bs) == '', toDecimal(null()), toDecimal(monto_bs)),",
						"          supermercado_id = toInteger(supermercado_id)) ~> derivedColumn10",
						"derivedColumn10 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_super_id as string,",
						"          asignacion_id as string,",
						"          ci_beneficiaria as string,",
						"          supermercado_id as integer,",
						"          fecha_retiro as date,",
						"          tipo_carne as string,",
						"          cantidad_kg as decimal(8,2),",
						"          monto_bs as decimal(10,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          entrega_super_id,",
						"          asignacion_id,",
						"          ci_beneficiaria,",
						"          supermercado_id,",
						"          fecha_retiro,",
						"          tipo_carne,",
						"          cantidad_kg,",
						"          monto_bs",
						"     )) ~> sink7"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_spl_supermercados_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_spl"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_supermercados_csv",
								"type": "DatasetReference"
							},
							"name": "source6"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_spl_supermercado",
								"type": "DatasetReference"
							},
							"name": "sink6"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn9"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as string,",
						"          Cadena as string,",
						"          Sucursal as string,",
						"          Municipio as string,",
						"          {Dirección} as string,",
						"          Estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source6",
						"source6 derive(Cadena = trim(Cadena),",
						"          Sucursal = trim(Sucursal),",
						"          Municipio = trim(Municipio),",
						"          {Dirección} = trim({Dirección}),",
						"          Estado = trim(Estado),",
						"          ID = toInteger(ID)) ~> derivedColumn9",
						"derivedColumn9 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          supermercado_id as integer,",
						"          cadena as string,",
						"          sucursal as string,",
						"          municipio as string,",
						"          direccion as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          supermercado_id = ID,",
						"          cadena = Cadena,",
						"          sucursal = Cadena,",
						"          municipio = Municipio,",
						"          direccion = {Dirección},",
						"          estado = Estado",
						"     )) ~> sink6"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_sup_boletas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_sup"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "sup_boletas_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_boletas",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          boleta_id as string,",
						"          control_id as string,",
						"          ci_beneficiaria as string,",
						"          nro_boleta as string,",
						"          fecha_emision as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(ci_beneficiaria = upper(trim(regexReplace(regexReplace(ci_beneficiaria, '^[a-zA-Z]+', ''), '-', ''))),",
						"          nro_boleta = upper(trim(nro_boleta)),",
						"          fecha_emision = iif(isNull(fecha_emision) || trim(fecha_emision) == '', toDate(null()),   iif(locate('/', fecha_emision) > 0,     iif(toInteger(left(trim(fecha_emision), 2)) > 12,       toDate(fecha_emision, 'dd/MM/yyyy'),       toDate(fecha_emision, 'MM/dd/yyyy')),     iif(toInteger(left(trim(fecha_emision), 4)) > 31,       toDate(fecha_emision, 'yyyy-MM-dd'),       toDate(fecha_emision, 'dd-MM-yyyy')))),",
						"          estado = upper(trim(estado)),",
						"          boleta_id = toInteger(boleta_id),",
						"          control_id = concat('SUP-', toString(control_id))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          boleta_id,",
						"          control_id,",
						"          ci_beneficiaria,",
						"          nro_boleta,",
						"          fecha_emision,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_sup_catalogo_paquetes')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_sup"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "sup_catalogo_paquetes_csv",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_catalogo_paquetes",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          paquete_id as string,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as string,",
						"          costo_estimado_bs as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"source2 derive(nombre = trim(nombre),",
						"          contenido = trim(contenido),",
						"          peso_estandar_kg = toDecimal(peso_estandar_kg),",
						"          costo_estimado_bs = toDecimal(costo_estimado_bs),",
						"          paquete_id = toInteger(paquete_id)) ~> derivedColumn2",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as decimal(6,2),",
						"          costo_estimado_bs as decimal(10,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          paquete_id,",
						"          nombre,",
						"          contenido,",
						"          peso_estandar_kg,",
						"          costo_estimado_bs",
						"     )) ~> sink2"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_sup_controles')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_sup"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "sup_controles_csv",
								"type": "DatasetReference"
							},
							"name": "source3"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_controles_prenatales",
								"type": "DatasetReference"
							},
							"name": "sink3"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn3"
						},
						{
							"name": "derivedColumn4"
						}
					],
					"scriptLines": [
						"source(output(",
						"          control_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          nro_control as string,",
						"          fecha_control as string,",
						"          semana_gestacion as string,",
						"          peso_madre_kg as string,",
						"          presion_arterial as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source3",
						"source3 derive(ci_beneficiaria = upper(trim(regexReplace(regexReplace(ci_beneficiaria, '^[a-zA-Z]+', ''), '-', ''))),",
						"          nro_control = toInteger(nro_control),",
						"          fecha_control = iif(isNull(fecha_control) || trim(fecha_control) == '', toDate(null()),   iif(locate('/', fecha_control) > 0,     iif(toInteger(left(trim(fecha_control), 2)) > 12,       toDate(fecha_control, 'dd/MM/yyyy'),       toDate(fecha_control, 'MM/dd/yyyy')),     iif(toInteger(left(trim(fecha_control), 4)) > 31,       toDate(fecha_control, 'yyyy-MM-dd'),       toDate(fecha_control, 'dd-MM-yyyy')))),",
						"          semana_gestacion = iif(isNull(semana_gestacion) || toString(semana_gestacion) == '', toInteger(null()), toInteger(semana_gestacion)),",
						"          peso_madre_kg = iif(isNull(peso_madre_kg) || toString(peso_madre_kg) == '', toDecimal(null()), toDecimal(peso_madre_kg)),",
						"          presion_arterial = trim(presion_arterial)) ~> derivedColumn3",
						"derivedColumn3 derive(control_id = concat('SUP-', toString(control_id)),",
						"          establecimiento_id = concat('SUP-', toString(toInteger(establecimiento_id)))) ~> derivedColumn4",
						"derivedColumn4 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          semana_gestacion as integer,",
						"          peso_madre_kg as decimal(5,2),",
						"          presion_arterial as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          control_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          semana_gestacion,",
						"          peso_madre_kg,",
						"          presion_arterial",
						"     )) ~> sink3"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_sup_entregas_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_sup"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "sup_entregas_csv",
								"type": "DatasetReference"
							},
							"name": "source4"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_sup_entregas",
								"type": "DatasetReference"
							},
							"name": "sink4"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn4"
						},
						{
							"name": "derivedColumn5"
						}
					],
					"scriptLines": [
						"source(output(",
						"          entrega_id as string,",
						"          boleta_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          paquete_id as string,",
						"          paquete_nombre as string,",
						"          fecha_entrega as string,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as string,",
						"          fecha_proxima_entrega as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source4",
						"source4 derive(ci_beneficiaria = upper(\r",
						"  regexReplace(\r",
						"    regexReplace(ci_beneficiaria, '^(sc|tj|pt|bn)', ''),\r",
						"    '[-\\\\s]', ''\r",
						"  )\r",
						"),",
						"          fecha_entrega = iif(regexMatch(toString(fecha_entrega), '\\\\d{4}-\\\\d{2}-\\\\d{2}'),\r",
						"  toDate(toString(fecha_entrega), 'yyyy-MM-dd'),\r",
						"  iif(regexMatch(toString(fecha_entrega), '\\\\d{2}-\\\\d{2}-\\\\d{4}'),\r",
						"    toDate(toString(fecha_entrega), 'dd-MM-yyyy'),\r",
						"    iif(regexMatch(toString(fecha_entrega), '\\\\d{2}/\\\\d{2}/\\\\d{4}'),\r",
						"      toDate(toString(fecha_entrega), 'dd/MM/yyyy'),\r",
						"      toDate(null())\r",
						"    )\r",
						"  )\r",
						"),",
						"          fecha_proxima_entrega = iif(isNull(fecha_proxima_entrega) || length(trim(toString(fecha_proxima_entrega))) == 0,   toDate(null()),   iif(regexMatch(toString(fecha_proxima_entrega), '\\\\d{4}-\\\\d{2}-\\\\d{2}'),     toDate(toString(fecha_proxima_entrega), 'yyyy-MM-dd'),     iif(regexMatch(toString(fecha_proxima_entrega), '\\\\d{2}-\\\\d{2}-\\\\d{4}'),       toDate(toString(fecha_proxima_entrega), 'dd-MM-yyyy'),       iif(regexMatch(toString(fecha_proxima_entrega), '\\\\d{2}/\\\\d{2}/\\\\d{4}'),         toDate(toString(fecha_proxima_entrega), 'dd/MM/yyyy'),         toDate(null())       )     )   ) ),",
						"          lote_produccion = trim(lote_produccion),",
						"          entrega_id = toInteger(entrega_id),",
						"          boleta_id = toInteger(boleta_id),",
						"          establecimiento_id = toInteger(establecimiento_id),",
						"          paquete_id = toInteger(paquete_id),",
						"          peso_paquete_kg = toDecimal(peso_paquete_kg)) ~> derivedColumn4",
						"derivedColumn4 derive(establecimiento_id = concat('SUP-', toString(toInteger(establecimiento_id)))) ~> derivedColumn5",
						"derivedColumn5 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_id as integer,",
						"          boleta_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          paquete_id as integer,",
						"          paquete_nombre as string,",
						"          fecha_entrega as date,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as decimal(6,2),",
						"          fecha_proxima_entrega as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          entrega_id,",
						"          boleta_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          paquete_id,",
						"          paquete_nombre,",
						"          fecha_entrega = fecha_proxima_entrega,",
						"          lote_produccion,",
						"          peso_paquete_kg,",
						"          fecha_proxima_entrega",
						"     )) ~> sink4"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/gold_dim_beneficiaria')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_segip_personas",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "gold_dim_beneficiaria",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          ci_beneficiaria as string,",
						"          nombres as string,",
						"          primer_apellido as string,",
						"          segundo_apellido as string,",
						"          nombre_completo as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          en_sup as integer,",
						"          en_bja as integer,",
						"          en_spl as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT DISTINCT\\n    p.ci                                            AS ci_beneficiaria,\\n    TRIM(p.nombres)                                 AS nombres,\\n    TRIM(p.apellido_paterno)                        AS primer_apellido,\\n    TRIM(p.apellido_materno)                        AS segundo_apellido,\\n    TRIM(p.nombres) + \\' \\'\\n        + ISNULL(TRIM(p.apellido_paterno), \\'\\') + \\' \\'\\n        + ISNULL(TRIM(p.apellido_materno), \\'\\')      AS nombre_completo,\\n    p.municipio_residencia                          AS municipio,\\n    geo.departamento,\\n    CASE WHEN i_sup.ci_beneficiaria IS NOT NULL\\n         THEN 1 ELSE 0 END                          AS en_sup,\\n    CASE WHEN i_bja.ci_beneficiaria IS NOT NULL\\n         THEN 1 ELSE 0 END                          AS en_bja,\\n    CASE WHEN spl.ci_beneficiaria IS NOT NULL\\n         THEN 1 ELSE 0 END                          AS en_spl\\nFROM silver.segip_personas p\\nLEFT JOIN (\\n    SELECT DISTINCT municipio, departamento\\n    FROM silver.establecimientos_salud\\n) geo ON p.municipio_residencia = geo.municipio\\nLEFT JOIN (\\n    SELECT DISTINCT ci_beneficiaria\\n    FROM silver.inscripciones_prenatal\\n    WHERE sistema_origen = \\'SUP\\'\\n) i_sup ON p.ci = i_sup.ci_beneficiaria\\nLEFT JOIN (\\n    SELECT DISTINCT ci_beneficiaria\\n    FROM silver.inscripciones_prenatal\\n    WHERE sistema_origen = \\'BJA\\'\\n) i_bja ON p.ci = i_bja.ci_beneficiaria\\nLEFT JOIN (\\n    SELECT DISTINCT ci_beneficiaria\\n    FROM silver.spl_afiliaciones\\n) spl ON p.ci = spl.ci_beneficiaria',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Inscripciones_Prenatal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_inscripciones_prenatal",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source4": {},
									"source5": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_SEGIP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_segip_personas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_crear_dimensiones')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_establecimiento",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_paquete",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow3",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "gold_dim_beneficiaria",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/gold_dim_beneficiaria')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_crear_hechos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_hechos_controles_prenatales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"controlesprenatales": {},
									"dimbeneficiaria": {},
									"dimestablecimiento": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_hechos_entregas_sup",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"silversupentregas": {},
									"source2": {},
									"dimbeneficiaria": {},
									"dimestablecimiento": {},
									"dimpaquete": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow3",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_hechos_pagos_bja",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow4",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_hechos_controles_pediatricos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_crear_spl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_spl_afiliaciones",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow1",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Data flow2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_afiliaciones_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "spl_certificados_medicos_csv",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_spl_afiliaciones",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_certificados_medicos_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source4": {},
									"sink4": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "pl_asignaciones_mensuales",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_spl_afiliaciones",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_asignaciones_mensuales_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source2": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_cajas_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source3": {},
									"sink3": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_empleadores_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source5": {},
									"sink5": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow3",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "pl_asignaciones_mensuales",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_entregas_agencia_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source6": {},
									"sink6": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow4",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "pl_asignaciones_mensuales",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Data flow5",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_entregas_supermercado_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source7": {},
									"sink7": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow5",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_supermercados_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source6": {},
									"sink6": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_spl_certificados_medicos_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_spl_asignaciones_mensuales_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_spl_cajas_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_spl_empleadores_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_spl_entregas_agencia_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_spl_entregas_supermercado_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_spl_supermercados_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_establecimiento')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_establecimientos_salud",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source3": {},
									"source4": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline cargar AS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "as_transportista",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_as_transportistas_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source4": {},
									"sink4": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "as_vehiculos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "as_transportista",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_as_vehiculos_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source5": {},
									"sink5": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_as_almacenes",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_as_almacenes_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_as_recepciones",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "as_transportista",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "df_as_almacenes",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "as_vehiculos",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_as_recepciones_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source3": {},
									"sink3": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_as_despachos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_as_almacenes",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "as_transportista",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "as_vehiculos",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "df_as_recepciones",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_as_almacenes_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline cargar sup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_sup_catalogo_paquetes",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_sup_catalogo_paquetes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source2": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_sup_controles",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_sup_controles",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source3": {},
									"sink3": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_sup_boletas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_sup_controles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_sup_boletas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_sup_entregas_csv",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_sup_boletas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_sup_entregas_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source4": {},
									"sink4": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_sup_catalogo_paquetes')]",
				"[concat(variables('factoryId'), '/dataflows/df_sup_controles')]",
				"[concat(variables('factoryId'), '/dataflows/df_sup_boletas')]",
				"[concat(variables('factoryId'), '/dataflows/df_sup_entregas_csv')]"
			]
		}
	]
}