adf-subsidios-bo/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-subsidios-bo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/df_spl_empleadores_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_spl"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_empleadores_csv",
								"type": "DatasetReference"
							},
							"name": "source5"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_spl_empleadores",
								"type": "DatasetReference"
							},
							"name": "sink5"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn8"
						}
					],
					"scriptLines": [
						"source(output(",
						"          empleador_id as string,",
						"          nit as string,",
						"          razon_social as string,",
						"          tipo as string,",
						"          nro_patronal as string,",
						"          municipio as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source5",
						"source5 derive(nit = trim(nit),",
						"          razon_social = trim(razon_social),",
						"          tipo = upper(trim(tipo)),",
						"          nro_patronal = upper(trim(nro_patronal)),",
						"          municipio = trim(municipio)) ~> derivedColumn8",
						"derivedColumn8 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          empleador_id as string,",
						"          nit as string,",
						"          razon_social as string,",
						"          tipo as string,",
						"          nro_patronal as string,",
						"          municipio as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          empleador_id,",
						"          nit,",
						"          razon_social,",
						"          tipo,",
						"          nro_patronal,",
						"          municipio",
						"     )) ~> sink5"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_spl_entregas_agencia_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_spl"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_entregas_agencia_csv",
								"type": "DatasetReference"
							},
							"name": "source6"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_spl_entregas_agencia",
								"type": "DatasetReference"
							},
							"name": "sink6"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn9"
						}
					],
					"scriptLines": [
						"source(output(",
						"          entrega_ag_id as string,",
						"          asignacion_id as string,",
						"          ci_beneficiaria as string,",
						"          fecha_entrega as string,",
						"          productos as string,",
						"          lote as string,",
						"          peso_kg as string,",
						"          punto_entrega as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source6",
						"source6 derive(ci_beneficiaria = upper(trim(replace(ci_beneficiaria, '-', ''))),",
						"          fecha_entrega = iif(isNull(fecha_entrega) || trim(fecha_entrega) == '', toDate(null()),   iif(locate('/', fecha_entrega) > 0,     toDate(fecha_entrega, 'dd/MM/yyyy'),     iif(toInteger(left(trim(fecha_entrega), 4)) > 31,       toDate(fecha_entrega, 'yyyy-MM-dd'),       toDate(fecha_entrega, 'dd-MM-yyyy')))),",
						"          productos = trim(regexReplace(productos, '  +', ' ')),",
						"          lote = upper(trim(lote)),",
						"          peso_kg = toDecimal(peso_kg),",
						"          punto_entrega = upper(trim(regexReplace(punto_entrega, '  +', ' ')))) ~> derivedColumn9",
						"derivedColumn9 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_ag_id as string,",
						"          asignacion_id as string,",
						"          ci_beneficiaria as string,",
						"          fecha_entrega as date,",
						"          productos as string,",
						"          lote as string,",
						"          peso_kg as decimal(8,2),",
						"          punto_entrega as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          entrega_ag_id,",
						"          asignacion_id,",
						"          ci_beneficiaria,",
						"          fecha_entrega,",
						"          productos,",
						"          lote,",
						"          peso_kg,",
						"          punto_entrega",
						"     )) ~> sink6"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_spl_entregas_supermercado_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_spl"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_entregas_supermercado_csv",
								"type": "DatasetReference"
							},
							"name": "source7"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_spl_entregas_supermercado",
								"type": "DatasetReference"
							},
							"name": "sink7"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn10"
						}
					],
					"scriptLines": [
						"source(output(",
						"          entrega_super_id as string,",
						"          asignacion_id as string,",
						"          ci_beneficiaria as string,",
						"          supermercado_id as string,",
						"          fecha_retiro as string,",
						"          tipo_carne as string,",
						"          cantidad_kg as string,",
						"          monto_bs as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source7",
						"source7 derive(ci_beneficiaria = upper(trim(regexReplace(regexReplace(ci_beneficiaria, '^[a-zA-Z]+', ''), '-', ''))),",
						"          fecha_retiro = iif(isNull(fecha_retiro) || trim(fecha_retiro) == '', toDate(null()),   iif(locate('/', fecha_retiro) > 0,     iif(toInteger(left(trim(fecha_retiro), 2)) > 12,       toDate(fecha_retiro, 'dd/MM/yyyy'),       toDate(fecha_retiro, 'MM/dd/yyyy')),     iif(length(trim(fecha_retiro)) == 10 && toInteger(left(trim(fecha_retiro), 2)) <= 31 && toInteger(substring(trim(fecha_retiro), 4, 2)) <= 12,       toDate(fecha_retiro, 'dd-MM-yyyy'),       toDate(fecha_retiro, 'yyyy-MM-dd')))),",
						"          tipo_carne = upper(trim(tipo_carne)),",
						"          cantidad_kg = iif(isNull(cantidad_kg) || toString(cantidad_kg) == '', toDecimal(null()), toDecimal(cantidad_kg)),",
						"          monto_bs = iif(isNull(monto_bs) || toString(monto_bs) == '', toDecimal(null()), toDecimal(monto_bs)),",
						"          supermercado_id = toInteger(supermercado_id)) ~> derivedColumn10",
						"derivedColumn10 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_super_id as string,",
						"          asignacion_id as string,",
						"          ci_beneficiaria as string,",
						"          supermercado_id as integer,",
						"          fecha_retiro as date,",
						"          tipo_carne as string,",
						"          cantidad_kg as decimal(8,2),",
						"          monto_bs as decimal(10,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          entrega_super_id,",
						"          asignacion_id,",
						"          ci_beneficiaria,",
						"          supermercado_id,",
						"          fecha_retiro,",
						"          tipo_carne,",
						"          cantidad_kg,",
						"          monto_bs",
						"     )) ~> sink7"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_spl_supermercados_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_spl"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_supermercados_csv",
								"type": "DatasetReference"
							},
							"name": "source6"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_spl_supermercado",
								"type": "DatasetReference"
							},
							"name": "sink6"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn9"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as string,",
						"          Cadena as string,",
						"          Sucursal as string,",
						"          Municipio as string,",
						"          {Dirección} as string,",
						"          Estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source6",
						"source6 derive(Cadena = trim(Cadena),",
						"          Sucursal = trim(Sucursal),",
						"          Municipio = trim(Municipio),",
						"          {Dirección} = trim({Dirección}),",
						"          Estado = trim(Estado),",
						"          ID = toInteger(ID)) ~> derivedColumn9",
						"derivedColumn9 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          supermercado_id as integer,",
						"          cadena as string,",
						"          sucursal as string,",
						"          municipio as string,",
						"          direccion as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          supermercado_id = ID,",
						"          cadena = Cadena,",
						"          sucursal = Cadena,",
						"          municipio = Municipio,",
						"          direccion = {Dirección},",
						"          estado = Estado",
						"     )) ~> sink6"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_inscripciones_prenatal')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bja_inscripciones_csv",
								"type": "DatasetReference"
							},
							"name": "source4"
						},
						{
							"dataset": {
								"referenceName": "sup_inscripciones_csv",
								"type": "DatasetReference"
							},
							"name": "source5"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_inscripciones_prenatal",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn5"
						},
						{
							"name": "derivedColumn6"
						},
						{
							"name": "derivedColumn7"
						},
						{
							"name": "derivedColumn8"
						},
						{
							"name": "union1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          inscripcion_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source4",
						"source(output(",
						"          inscripcion_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source5",
						"source4 derive(ci_beneficiaria = upper(trim(regexReplace(ci_beneficiaria, '[^a-zA-Z0-9]', ''))),",
						"          inscripcion_id = toDate(trim(fecha_inscripcion), 'yyyy-MM-dd'),",
						"          fecha_inscripcion = toDate(toString(fecha_inscripcion), 'yyyy-MM-dd'),",
						"          semana_gestacion = iif(toInteger(semana_gestacion) < 1 || toInteger(semana_gestacion) > 42, toInteger(null()), toInteger(semana_gestacion)),",
						"          estado = iif(like(lower(trim(estado)), '%completada%'), 'Completada',   iif(like(lower(trim(estado)), '%activa%') && !like(lower(trim(estado)), '%in%'), 'Activa',     iif(like(lower(trim(estado)), '%inactiva%'), 'Inactiva',       initCap(lower(trim(estado)))     )   ) )) ~> derivedColumn5",
						"source5 derive(ci_beneficiaria = trim(toString(ci_beneficiaria)),",
						"          fecha_inscripcion = toDate(toString(fecha_inscripcion), 'yyyy-MM-dd'),",
						"          estado = initCap(lower(trim(toString(estado)))),",
						"          semana_gestacion = iif(toInteger(semana_gestacion) < 1 || toInteger(semana_gestacion) > 42, toInteger(null()), toInteger(semana_gestacion))) ~> derivedColumn6",
						"derivedColumn5 derive(inscripcion_id = concat('BJA-', toString(establecimiento_id)),",
						"          establecimiento_id = concat('BJA-', toString(establecimiento_id)),",
						"          sistema_origen = 'BJA') ~> derivedColumn7",
						"derivedColumn6 derive(inscripcion_id = concat('SUP-', toString(inscripcion_id)),",
						"          establecimiento_id = concat('SUP-', toString(establecimiento_id)),",
						"          sistema_origen = 'SUP') ~> derivedColumn8",
						"derivedColumn7, derivedColumn8 union(byName: true)~> union1",
						"union1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          inscripcion_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          fecha_inscripcion as date,",
						"          semana_gestacion as integer,",
						"          estado as string,",
						"          sistema_origen as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_establecimientos_salud')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bja_establecimientos_salud_csv",
								"type": "DatasetReference"
							},
							"name": "source3"
						},
						{
							"dataset": {
								"referenceName": "sup_establecimientos_csv",
								"type": "DatasetReference"
							},
							"name": "source4"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_establecimientos_salud",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn4"
						},
						{
							"name": "derivedColumn5"
						},
						{
							"name": "derivedColumn6"
						},
						{
							"name": "union1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source3",
						"source(output(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source4",
						"source3 derive(codigo_snis = upper(trim(codigo_snis)),",
						"          nombre = trim(regexReplace(nombre, '\\\\s+', ' ')),",
						"          tipo = iif(like(lower(trim(tipo)), '%hospital%'), 'Hospital',\r",
						"  iif(like(lower(trim(tipo)), '%centro%'), 'Centro de Salud',\r",
						"    iif(like(lower(trim(tipo)), '%puesto%'), 'Puesto de Salud',\r",
						"      initCap(lower(trim(tipo)))\r",
						"    )\r",
						"  )\r",
						"),",
						"          nivel_atencion = iif(like(lower(trim(nivel_atencion)), '%primer%'), 'Primer Nivel',   iif(like(lower(trim(nivel_atencion)), '%segundo%'), 'Segundo Nivel',     iif(like(lower(trim(nivel_atencion)), '%tercer%'), 'Tercer Nivel',       initCap(lower(trim(nivel_atencion)))     )   ) ),",
						"          departamento = iif(trim(departamento) == 'LP', 'La Paz',   iif(trim(departamento) == 'CB', 'Cochabamba',     iif(trim(departamento) == 'SC', 'Santa Cruz',       iif(trim(departamento) == 'OR', 'Oruro',         iif(trim(departamento) == 'PT', 'Potosí',           iif(trim(departamento) == 'TJ', 'Tarija',             iif(trim(departamento) == 'CH', 'Chuquisaca',               iif(trim(departamento) == 'BN', 'Beni',                 iif(trim(departamento) == 'PD', 'Pando',                   trim(departamento)                 )               )             )           )         )       )     )   ) ),",
						"          estado = iif(like(lower(trim(estado)), '%activo%'), 'Activo',   iif(like(lower(trim(estado)), '%inactivo%'), 'Inactivo',     initCap(lower(trim(estado)))   ) )) ~> derivedColumn4",
						"derivedColumn4 derive(establecimiento_id = concat('BJA-', toString(establecimiento_id)),",
						"          sistema_origen = 'BJA') ~> derivedColumn5",
						"source4 derive(nombre = trim(nombre),",
						"          tipo = trim(tipo),",
						"          establecimiento_id = concat('SUP-', toString(establecimiento_id)),",
						"          sistema_origen = 'SUP') ~> derivedColumn6",
						"derivedColumn5, derivedColumn6 union(byName: true)~> union1",
						"union1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string,",
						"          sistema_origen as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bja_controles_prenatales_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_bja"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bja_controles_prenatales_csv",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_bja_controles_prenatales",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          control_prenatal_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          nro_control as string,",
						"          fecha_control as string,",
						"          semana_gestacion as string,",
						"          peso_madre_kg as string,",
						"          presion_arterial as string,",
						"          resultado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"source2 derive(ci_beneficiaria = upper(trim(regexReplace(ci_beneficiaria, '[^a-zA-Z0-9]', ''))),",
						"          fecha_control = toDate(   iif(like(fecha_control, '__/__/____'),     iif(toInteger(left(fecha_control,2)) > 12,       concat(right(fecha_control,4), '-', substring(fecha_control,4,2), '-', left(fecha_control,2)),       concat(right(fecha_control,4), '-', left(fecha_control,2), '-', substring(fecha_control,4,2))     ),     iif(like(fecha_control, '__-__-____'),       concat(right(fecha_control,4), '-', substring(fecha_control,4,2), '-', left(fecha_control,2)),       fecha_control     )   ),   'yyyy-MM-dd' ),",
						"          presion_arterial = trim(regexReplace(presion_arterial, '\\\\s+', '')),",
						"          resultado = iif(isNull(trim(resultado)) || length(trim(resultado)) == 0,   'Sin Dato',   iif(like(lower(trim(resultado)), '%normal%'),     'Normal',     iif(like(lower(trim(resultado)), '%riesgo alto%') || like(lower(trim(resultado)), '%riesg%alto%'),       'Riesgo Alto',       iif(like(lower(trim(resultado)), '%riesgo moderado%'),         'Riesgo Moderado',         iif(like(lower(trim(resultado)), '%riesgo bajo%') || like(lower(trim(resultado)), '%riesgoo bajo%'),           'Riesgo Bajo',           initCap(lower(trim(resultado)))         )       )     )   ) ),",
						"          peso_madre_kg = toFloat(peso_madre_kg),",
						"          semana_gestacion = toInteger(semana_gestacion),",
						"          nro_control = toInteger(nro_control),",
						"          control_id = control_prenatal_id) ~> derivedColumn2",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ci_beneficiaria,",
						"          fecha_control,",
						"          presion_arterial,",
						"          resultado,",
						"          peso_madre_kg,",
						"          semana_gestacion,",
						"          nro_control,",
						"          control_id",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bja_controles_pediatricos_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_bja"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bja_controles_pediatricos_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_bja_controles_pediatricos",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn3"
						}
					],
					"scriptLines": [
						"source(output(",
						"          control_pediatrico_id as string,",
						"          ci_nino as string,",
						"          ci_madre as string,",
						"          establecimiento_id as string,",
						"          nro_control as string,",
						"          fecha_control as string,",
						"          peso_nino_kg as string,",
						"          talla_nino_cm as string,",
						"          vacuna_aplicada as string,",
						"          resultado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(resultado = upper(regexReplace(resultado, '\\\\s+', '')),",
						"          vacuna_aplicada = upper(regexReplace(vacuna_aplicada, '\\\\s+', '')),",
						"          ci_nino = upper(trim(regexReplace(ci_nino, '[^a-zA-Z0-9]', ''))),",
						"          ci_madre = upper(trim(regexReplace(ci_madre, '[^a-zA-Z0-9]', ''))),",
						"          establecimiento_id = toInteger(establecimiento_id),",
						"          fecha_control = toDate(   iif(like(fecha_control, '__/__/____'),     iif(toInteger(left(fecha_control,2)) > 12,       fecha_control,       concat(substring(fecha_control,4,2), '/', left(fecha_control,2), '/', right(fecha_control,4))     ),     iif(like(fecha_control, '__-__-____'),       concat(right(fecha_control,4), '-', substring(fecha_control,4,2), '-', left(fecha_control,2)),       fecha_control     )   ),   'yyyy-MM-dd' )) ~> derivedColumn1",
						"derivedColumn1 derive(vacuna_aplicada = lower(trim(regexReplace(vacuna_aplicada, '\\\\s+', ' '))),",
						"          resultado = iif(isNull(trim(resultado)) || length(trim(resultado)) == 0,  'Sin Dato',  iif(lower(trim(resultado)) == 'normal' || lower(trim(resultado)) == 'norml' || lower(trim(resultado)) == 'normaal' || lower(trim(resultado)) == 'noraml' || lower(trim(resultado)) == 'norrmal' || lower(trim(resultado)) == 'nromal',    'Normal',    iif(lower(trim(resultado)) == 'bajo peso' || lower(trim(resultado)) == 'baja peso',      'Bajo Peso',      iif(like(lower(trim(resultado)), '%desnutri%leve%'),        'Desnutrición Leve',        iif(like(lower(trim(resultado)), '%desnutri%moderada%'),          'Desnutrición Moderada',          initCap(lower(trim(resultado)))        )      )    )  )),",
						"          nro_control = toInteger(nro_control),",
						"          peso_nino_kg = toDecimal(peso_nino_kg),",
						"          talla_nino_cm = toDecimal(talla_nino_cm)) ~> derivedColumn3",
						"derivedColumn3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_pediatrico_id as string,",
						"          ci_nino as string,",
						"          ci_madre as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          peso_nino_kg as decimal(5,2),",
						"          talla_nino_cm as decimal(5,2),",
						"          vacuna_aplicada as string,",
						"          resultado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          control_pediatrico_id,",
						"          ci_nino,",
						"          ci_madre,",
						"          establecimiento_id,",
						"          nro_control,",
						"          fecha_control,",
						"          peso_nino_kg,",
						"          talla_nino_cm,",
						"          vacuna_aplicada,",
						"          resultado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bja_pagos_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_bja"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bja_pagos_csv",
								"type": "DatasetReference"
							},
							"name": "source5"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_bja_pagos",
								"type": "DatasetReference"
							},
							"name": "sink5"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn6"
						}
					],
					"scriptLines": [
						"source(output(",
						"          pago_id as string,",
						"          ci_beneficiaria as string,",
						"          concepto_pago as string,",
						"          monto_bs as string,",
						"          fecha_pago as string,",
						"          estado_pago as string,",
						"          canal_pago as string,",
						"          nro_comprobante as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source5",
						"source5 derive(ci_beneficiaria = upper(trim(regexReplace(ci_beneficiaria, '[^a-zA-Z0-9]', ''))),",
						"          concepto_pago = iif(like(lower(trim(regexReplace(concepto_pago, '\\\\s+', ' '))), '%control%prenatal%1%') || like(lower(trim(regexReplace(concepto_pago, '\\\\s+', ' '))), '%control%rpenatal%1%') || like(lower(trim(regexReplace(concepto_pago, '\\\\s+', ' '))), '%control%prental%1%'),   'Control Prenatal 1',   iif(like(lower(trim(regexReplace(concepto_pago, '\\\\s+', ' '))), '%control%2%'),     'Control Prenatal 2',     iif(like(lower(trim(regexReplace(concepto_pago, '\\\\s+', ' '))), '%control%3%'),       'Control Prenatal 3',       iif(like(lower(trim(regexReplace(concepto_pago, '\\\\s+', ' '))), '%control%4%'),         'Control Prenatal 4',         iif(like(lower(trim(regexReplace(concepto_pago, '\\\\s+', ' '))), '%parto%'),           'Parto Institucional',           initCap(lower(trim(regexReplace(concepto_pago, '\\\\s+', ' '))))         )       )     )   ) ),",
						"          monto_bs = iif(toDecimal(monto_bs) == 50 || toDecimal(monto_bs) == 120, toDecimal(monto_bs), toDecimal(null())),",
						"          fecha_pago = toDate(   iif(like(fecha_pago, '__/__/____'),     iif(toInteger(left(fecha_pago,2)) > 12,       concat(right(fecha_pago,4), '-', substring(fecha_pago,4,2), '-', left(fecha_pago,2)),       concat(right(fecha_pago,4), '-', left(fecha_pago,2), '-', substring(fecha_pago,4,2))     ),     iif(like(fecha_pago, '__-__-____'),       concat(right(fecha_pago,4), '-', substring(fecha_pago,4,2), '-', left(fecha_pago,2)),       fecha_pago     )   ),   'yyyy-MM-dd' ),",
						"          estado_pago = iif(like(lower(trim(estado_pago)), '%pagado%'), 'Pagado',   iif(like(lower(trim(estado_pago)), '%pendiente%'), 'Pendiente',     iif(like(lower(trim(estado_pago)), '%anulado%'), 'Anulado',       initCap(lower(trim(estado_pago)))     )   ) ),",
						"          canal_pago = iif(like(lower(trim(regexReplace(canal_pago, '\\\\s+', ''))), '%bancounion%') || like(lower(trim(regexReplace(canal_pago, '\\\\s+', ''))), '%bancounión%') || like(lower(trim(regexReplace(canal_pago, '\\\\s+', ''))), '%bncounión%') || like(lower(trim(regexReplace(canal_pago, '\\\\s+', ''))), '%banounión%'),   'Banco Unión',   iif(like(lower(trim(regexReplace(canal_pago, '\\\\s+', ''))), '%transferencia%') || like(lower(trim(regexReplace(canal_pago, '\\\\s+', ''))), '%transfencia%') || like(lower(trim(regexReplace(canal_pago, '\\\\s+', ''))), '%transferencía%'),     'Transferencia Bancaria',     iif(like(lower(trim(regexReplace(canal_pago, '\\\\s+', ''))), '%pagomóvil%') || like(lower(trim(regexReplace(canal_pago, '\\\\s+', ''))), '%pagomovil%') || like(lower(trim(regexReplace(canal_pago, '\\\\s+', ''))), '%paomóvil%') || like(lower(trim(regexReplace(canal_pago, '\\\\s+', ''))), '%pgomóvil%'),       'Pago Móvil',       iif(isNull(trim(canal_pago)) || length(trim(canal_pago)) == 0,         'Sin Dato',         initCap(lower(trim(canal_pago)))       )     )   ) ),",
						"          nro_comprobante = iif(isNull(trim(nro_comprobante)) || length(trim(nro_comprobante)) == 0, 'Sin Comprobante', upper(trim(nro_comprobante)))) ~> derivedColumn6",
						"derivedColumn6 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          pago_id as string,",
						"          ci_beneficiaria as string,",
						"          concepto_pago as string,",
						"          monto_bs as decimal(10,2),",
						"          fecha_pago as date,",
						"          estado_pago as string,",
						"          canal_pago as string,",
						"          nro_comprobante as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          pago_id,",
						"          ci_beneficiaria,",
						"          concepto_pago,",
						"          monto_bs,",
						"          fecha_pago,",
						"          estado_pago,",
						"          canal_pago,",
						"          nro_comprobante",
						"     )) ~> sink5"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_as_despachos_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_as"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "as_despachos_csv",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_as_despachos",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn2"
						},
						{
							"name": "derivedColumn3"
						},
						{
							"name": "derivedColumn4"
						},
						{
							"name": "derivedColumn5"
						},
						{
							"name": "derivedColumn6"
						},
						{
							"name": "derivedColumn7"
						}
					],
					"scriptLines": [
						"source(output(",
						"          despacho_id as string,",
						"          recepcion_id as string,",
						"          nro_lote as string,",
						"          almacen_id as string,",
						"          transportista_id as string,",
						"          vehiculo_id as string,",
						"          fecha_despacho as string,",
						"          cantidad_despachada as string,",
						"          centro_destino as string,",
						"          estado as string,",
						"          responsable as string,",
						"          nro_guia_despacho as string,",
						"          fecha_llegada as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"source2 derive(centro_destino = trim(centro_destino),",
						"          responsable = trim(responsable),",
						"          estado = trim(estado),",
						"          nro_lote = trim(nro_lote),",
						"          nro_guia_despacho = trim(nro_guia_despacho)) ~> derivedColumn2",
						"derivedColumn2 derive(estado = upper(regexReplace(estado, '\\\\s+', '')),",
						"          responsable = upper(regexReplace(responsable, '[^A-ZÑa-zñ]', '')),",
						"          nro_lote = upper(nro_lote),",
						"          nro_guia_despacho = upper(nro_guia_despacho)) ~> derivedColumn3",
						"derivedColumn3 derive(estado = iif(instr(estado, 'TRAN') > 0 || instr(estado, 'RTAN') > 0, 'En Tránsito',\r",
						"    iif(instr(estado, 'VU') > 0, 'Devuelto',\r",
						"        iif(instr(estado, 'TREG') > 0 || instr(estado, 'TERG') > 0 || instr(estado, 'TRGE') > 0 ||\r",
						"            instr(estado, 'TREA') > 0 || instr(estado, 'TEGA') > 0 || instr(estado, 'NTRE') > 0,\r",
						"            'Entregado',\r",
						"            iif(instr(estado, 'PACH') > 0 || instr(estado, 'SPAC') > 0 || instr(estado, 'PCAH') > 0 ||\r",
						"                instr(estado, 'PAHA') > 0 || instr(estado, 'ESPA') > 0 || instr(estado, 'SAPC') > 0,\r",
						"                'Despachado',\r",
						"                'En Tránsito'\r",
						"            )\r",
						"        )\r",
						"    )\r",
						")) ~> derivedColumn4",
						"derivedColumn4 derive(centro_destino = upper(regexReplace(centro_destino, '[^A-ZÁÉÍÓÚÑa-záéíóúñ]', ''))) ~> derivedColumn5",
						"derivedColumn5 derive(centro_destino = iif(instr(centro_destino,'ORU') > 0 || instr(centro_destino,'RUR') > 0 || instr(centro_destino,'RRU') > 0, 'Centro Distribución Oruro',\r",
						"iif(instr(centro_destino,'MONTER') > 0 || instr(centro_destino,'MONETR') > 0, 'Centro Distribución Montero',\r",
						"iif(instr(centro_destino,'QUILLAC') > 0 || instr(centro_destino,'UILLACOLL') > 0, 'Centro Distribución Quillacollo',\r",
						"iif(instr(centro_destino,'SUCRE') > 0 || instr(centro_destino,'SURE') > 0, 'Centro Distribución Sucre',\r",
						"iif(instr(centro_destino,'TARIJ') > 0 || instr(centro_destino,'TAARIJ') > 0, 'Centro Distribución Tarija',\r",
						"iif(instr(centro_destino,'YACUIB') > 0, 'Centro Distribución Yacuiba',\r",
						"iif(instr(centro_destino,'COCHAB') > 0 || instr(centro_destino,'COCHAAB') > 0,\r",
						"    iif(instr(centro_destino,'NORT') > 0 || instr(centro_destino,'NRT') > 0,\r",
						"        'Centro Distribución Cochabamba - Zona Norte',\r",
						"        'Centro Distribución Cochabamba - Central'),\r",
						"iif(instr(centro_destino,'ALT') > 0 || instr(centro_destino,'LTO') > 0,\r",
						"    iif(instr(centro_destino,'JULI') > 0 || instr(centro_destino,'JUL') > 0,\r",
						"        'Centro Distribución El Alto - 16 de Julio',\r",
						"        'Centro Distribución El Alto - Río Seco'),\r",
						"iif(instr(centro_destino,'PAZ') > 0,\r",
						"    iif(instr(centro_destino,'PEDR') > 0 || instr(centro_destino,'PDRO') > 0,\r",
						"        'Centro Distribución La Paz - San Pedro',\r",
						"        'Centro Distribución La Paz - Zona Sur'),\r",
						"iif(instr(centro_destino,'CRUZ') > 0 || instr(centro_destino,'CRZ') > 0,\r",
						"    iif(instr(centro_destino,'EQUIP') > 0 || instr(centro_destino,'EQUI') > 0,\r",
						"        'Centro Distribución Santa Cruz - Equipetrol',\r",
						"        'Centro Distribución Santa Cruz - Plan 3000'),\r",
						"    'REVISAR_MANUAL'\r",
						")))))))))),",
						"          responsable = iif(instr(responsable,'CONDOR') > 0,\r",
						"    iif(instr(responsable,'MARIO') > 0,\r",
						"        'Lic. Mario Condori H.',\r",
						"        iif(instr(responsable,'VALERIA') > 0 || instr(responsable,'ALERIA') > 0 || instr(responsable,'VAERIA') > 0,\r",
						"            'Lic. Valeria Condori A.',\r",
						"            'REVISAR_MANUAL_CONDORI')),\r",
						"iif(instr(responsable,'TORREZ') > 0 || instr(responsable,'TORRE') > 0, 'Tec. Carlos Torrez L.',\r",
						"iif(instr(responsable,'LIMACHI') > 0 || instr(responsable,'IMACHI') > 0, 'Tec. Diego Limachi F.',\r",
						"iif(instr(responsable,'POMA') > 0, 'Tec. Fernando Poma C.',\r",
						"iif(instr(responsable,'VARGAS') > 0 || instr(responsable,'VARGSA') > 0 || instr(responsable,'VRAGAS') > 0 || instr(responsable,'VARRGAS') > 0 || instr(responsable,'VARGGAS') > 0, 'Tec. Roberto Vargas S.',\r",
						"iif(instr(responsable,'APAZA') > 0, 'Tec. Juana Apaza N.',\r",
						"iif(instr(responsable,'FLORES') > 0 || instr(responsable,'LORES') > 0 || instr(responsable,'FLRES') > 0, 'Tec. Sandra Flores T.',\r",
						"iif(instr(responsable,'MAMANI') > 0 || instr(responsable,'MMAANI') > 0 || instr(responsable,'MAMAN') > 0, 'Lic. Gabriela Mamani R.',\r",
						"iif(instr(responsable,'GUTIERREZ') > 0 || instr(responsable,'GUTIERRREZ') > 0 || instr(responsable,'UTIERREZ') > 0, 'Lic. Ana Gutierrez V.',\r",
						"iif(instr(responsable,'QUISPE') > 0 || instr(responsable,'QUIPE') > 0 || instr(responsable,'QUIISPE') > 0, 'Lic. Pedro Quispe M.',\r",
						"iif(instr(responsable,'CHOQUE') > 0 || instr(responsable,'CHOUE') > 0 || instr(responsable,'HCOQUE') > 0, 'Lic. Claudia Choque P.',\r",
						"    iif(isNull(responsable) || length(trim(responsable))==0,\r",
						"        'SIN_RESPONSABLE_ASIGNADO',\r",
						"        'REVISAR_MANUAL')\r",
						")))))))))))) ~> derivedColumn6",
						"derivedColumn6 derive(fecha_despacho = iif(isNull(fecha_despacho) || length(trim(fecha_despacho))==0,\r",
						"    toDate(null()),\r",
						"iif(regexExtract(fecha_despacho,'^(\\\\d{4})-\\\\d{2}-\\\\d{2}$',1) != '',\r",
						"    toDate(fecha_despacho, 'yyyy-MM-dd'),\r",
						"iif(regexExtract(fecha_despacho,'^\\\\d{2}/\\\\d{2}/\\\\d{4}$',0) != '',\r",
						"    toDate(fecha_despacho, 'dd/MM/yyyy'),\r",
						"iif(regexExtract(fecha_despacho,'^\\\\d{2}-\\\\d{2}-\\\\d{4}$',0) != '',\r",
						"    toDate(fecha_despacho, 'dd-MM-yyyy'),\r",
						"    toDate(null())\r",
						")))),",
						"          fecha_llegada = iif(isNull(fecha_llegada) || length(trim(fecha_llegada))==0,     toDate(null()), iif(regexExtract(fecha_llegada,'^(\\\\d{4})-\\\\d{2}-\\\\d{2}$',1) != '',     toDate(fecha_llegada, 'yyyy-MM-dd'), iif(regexExtract(fecha_llegada,'^\\\\d{2}/\\\\d{2}/\\\\d{4}$',0) != '',     toDate(fecha_llegada, 'dd/MM/yyyy'), iif(regexExtract(fecha_llegada,'^\\\\d{2}-\\\\d{2}-\\\\d{4}$',0) != '',     toDate(fecha_llegada, 'dd-MM-yyyy'),     toDate(null()) )))),",
						"          almacen_id = toInteger(almacen_id),",
						"          cantidad_despachada = toDecimal(cantidad_despachada)) ~> derivedColumn7",
						"derivedColumn7 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          despacho_id as string,",
						"          recepcion_id as string,",
						"          nro_lote as string,",
						"          almacen_id as integer,",
						"          transportista_id as string,",
						"          vehiculo_id as string,",
						"          fecha_despacho as date,",
						"          cantidad_despachada as decimal(12,2),",
						"          centro_destino as string,",
						"          estado as string,",
						"          responsable as string,",
						"          nro_guia_despacho as string,",
						"          fecha_llegada as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          despacho_id,",
						"          recepcion_id,",
						"          nro_lote,",
						"          almacen_id,",
						"          transportista_id,",
						"          vehiculo_id,",
						"          fecha_despacho,",
						"          cantidad_despachada,",
						"          centro_destino,",
						"          estado,",
						"          responsable,",
						"          nro_guia_despacho,",
						"          fecha_llegada",
						"     )) ~> sink2"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_as_recepciones_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_as"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "as_recepciones_csv",
								"type": "DatasetReference"
							},
							"name": "source3"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_as_recepcione",
								"type": "DatasetReference"
							},
							"name": "sink3"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn8"
						},
						{
							"name": "derivedColumn9"
						}
					],
					"scriptLines": [
						"source(output(",
						"          recepcion_id as string,",
						"          nro_lote as string,",
						"          almacen_id as string,",
						"          transportista_id as string,",
						"          vehiculo_id as string,",
						"          fecha_recepcion as string,",
						"          cantidad_recibida as string,",
						"          unidad as string,",
						"          condicion as string,",
						"          estado as string,",
						"          responsable as string,",
						"          nro_guia_remision as string,",
						"          temperatura_llegada as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source3",
						"source3 derive(estado = upper(regexReplace(estado, '\\\\s+', '')),",
						"          condicion = upper(regexReplace(condicion, '\\\\s+', '')),",
						"          responsable = upper(regexReplace(responsable, '[^A-ZÑa-zñ]', '')),",
						"          nro_lote = upper(nro_lote),",
						"          nro_guia_remision = upper(regexReplace(nro_guia_remision, '-{2,}', '-')),",
						"          unidad = upper(unidad)) ~> derivedColumn8",
						"derivedColumn8 derive(estado = iif(instr(estado, 'VER') > 0, 'En Verificación',\r",
						"    iif(instr(estado, 'CHAZ') > 0 || instr(estado, 'CHZA') > 0 || instr(estado, 'CEHAZ') > 0, 'Rechazado',\r",
						"        iif(instr(estado, 'OBSER') > 0 || instr(estado, 'OBSEAV') > 0, 'Recibido con Observación',\r",
						"            iif(instr(estado, 'REC') > 0 || instr(estado, 'RCE') > 0 || instr(estado, 'RCI') > 0 || instr(estado, 'REI') > 0 || instr(estado, 'REE') > 0,\r",
						"                'Recibido',\r",
						"                'REVISAR_MANUAL'\r",
						"            )\r",
						"        )\r",
						"    )\r",
						"),",
						"          condicion = iif(instr(condicion, 'DAN') > 0 || instr(condicion, 'DAÑ') > 0, 'Dañado',\r",
						"    iif(instr(condicion, 'GUL') > 0 || instr(condicion, 'RGU') > 0, 'Regular',\r",
						"        iif(instr(condicion, 'BU') > 0 || instr(condicion, 'BE') > 0, 'Bueno',\r",
						"            iif(isNull(condicion) || length(trim(condicion))==0, 'SIN_REGISTRO', 'REVISAR_MANUAL')\r",
						"        )\r",
						"    )\r",
						"),",
						"          responsable = iif(instr(responsable,'CONDOR') > 0,     iif(instr(responsable,'MARIO') > 0,         'Lic. Mario Condori H.',         iif(instr(responsable,'VALERIA') > 0 || instr(responsable,'ALERIA') > 0 || instr(responsable,'VAERIA') > 0,             'Lic. Valeria Condori A.',             'REVISAR_MANUAL_CONDORI')), iif(instr(responsable,'TORREZ') > 0 || instr(responsable,'TORRE') > 0 || instr(responsable,'TORRZ') > 0, 'Tec. Carlos Torrez L.', iif(instr(responsable,'LIMACHI') > 0 || instr(responsable,'IMACHI') > 0 || instr(responsable,'LIMCHI') > 0, 'Tec. Diego Limachi F.', iif(instr(responsable,'POMA') > 0, 'Tec. Fernando Poma C.', iif(instr(responsable,'VARGAS') > 0 || instr(responsable,'VARGSA') > 0 || instr(responsable,'VRAGAS') > 0 || instr(responsable,'VARRGAS') > 0 || instr(responsable,'VARGGAS') > 0 || instr(responsable,'VAARGAS') > 0, 'Tec. Roberto Vargas S.', iif(instr(responsable,'APAZA') > 0, 'Tec. Juana Apaza N.', iif(instr(responsable,'FLORES') > 0 || instr(responsable,'LORES') > 0 || instr(responsable,'FLRES') > 0, 'Tec. Sandra Flores T.', iif(instr(responsable,'MAMANI') > 0 || instr(responsable,'MMAANI') > 0 || instr(responsable,'MAMAN') > 0 || instr(responsable,'MAAMANI') > 0, 'Lic. Gabriela Mamani R.', iif(instr(responsable,'GUTIERREZ') > 0 || instr(responsable,'GUTIERRREZ') > 0 || instr(responsable,'UTIERREZ') > 0 || instr(responsable,'GUIERREZ') > 0, 'Lic. Ana Gutierrez V.', iif(instr(responsable,'QUISPE') > 0 || instr(responsable,'QUIPE') > 0 || instr(responsable,'QUIISPE') > 0, 'Lic. Pedro Quispe M.', iif(instr(responsable,'CHOQUE') > 0 || instr(responsable,'CHOUE') > 0 || instr(responsable,'HCOQUE') > 0 || instr(responsable,'CHOQEU') > 0, 'Lic. Claudia Choque P.',     iif(isNull(responsable) || length(trim(responsable))==0,         'SIN_RESPONSABLE_ASIGNADO',         'REVISAR_MANUAL') ))))))))))),",
						"          fecha_recepcion = iif(isNull(fecha_recepcion) || length(trim(fecha_recepcion))==0,\r",
						"    toDate(null()),\r",
						"iif(regexExtract(fecha_recepcion,'^(\\\\d{4})-\\\\d{2}-\\\\d{2}$',1) != '',\r",
						"    toDate(fecha_recepcion, 'yyyy-MM-dd'),\r",
						"iif(regexExtract(fecha_recepcion,'^\\\\d{2}/\\\\d{2}/\\\\d{4}$',0) != '',\r",
						"    toDate(fecha_recepcion, 'dd/MM/yyyy'),\r",
						"iif(regexExtract(fecha_recepcion,'^\\\\d{2}-\\\\d{2}-\\\\d{4}$',0) != '',\r",
						"    toDate(fecha_recepcion, 'dd-MM-yyyy'),\r",
						"    toDate(null())\r",
						")))),",
						"          almacen_id = toInteger(almacen_id),",
						"          temperatura_llegada = toDecimal(temperatura_llegada),",
						"          cantidad_recibida = toDecimal(cantidad_recibida)) ~> derivedColumn9",
						"derivedColumn9 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          recepcion_id as string,",
						"          nro_lote as string,",
						"          almacen_id as integer,",
						"          transportista_id as string,",
						"          vehiculo_id as string,",
						"          fecha_recepcion as date,",
						"          cantidad_recibida as decimal(12,2),",
						"          unidad as string,",
						"          condicion as string,",
						"          estado as string,",
						"          responsable as string,",
						"          nro_guia_remision as string,",
						"          temperatura_llegada as decimal(5,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          recepcion_id,",
						"          nro_lote,",
						"          almacen_id,",
						"          transportista_id,",
						"          vehiculo_id,",
						"          fecha_recepcion,",
						"          cantidad_recibida,",
						"          unidad,",
						"          condicion,",
						"          estado,",
						"          responsable,",
						"          nro_guia_remision,",
						"          temperatura_llegada",
						"     )) ~> sink3"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_as_transportistas_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_as"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "as_transportistas_csv",
								"type": "DatasetReference"
							},
							"name": "source4"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_as_transportistas",
								"type": "DatasetReference"
							},
							"name": "sink4"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn10"
						}
					],
					"scriptLines": [
						"source(output(",
						"          transportista_id as string,",
						"          razon_social as string,",
						"          nit as string,",
						"          municipio as string,",
						"          contacto as string,",
						"          telefono as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source4",
						"source4 derive(razon_social = trim(razon_social),",
						"          municipio = trim(municipio),",
						"          contacto = trim(contacto),",
						"          nit = upper(trim(nit)),",
						"          estado = upper(trim(estado)),",
						"          telefono = trim(telefono)) ~> derivedColumn10",
						"derivedColumn10 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          transportista_id as string,",
						"          razon_social as string,",
						"          nit as string,",
						"          municipio as string,",
						"          contacto as string,",
						"          telefono as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          transportista_id,",
						"          razon_social,",
						"          nit,",
						"          municipio,",
						"          contacto,",
						"          telefono,",
						"          estado",
						"     )) ~> sink4"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_as_vehiculos_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "df_as"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "as_vehiculos_csv",
								"type": "DatasetReference"
							},
							"name": "source5"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_as_vehiculos",
								"type": "DatasetReference"
							},
							"name": "sink5"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn12"
						}
					],
					"scriptLines": [
						"source(output(",
						"          vehiculo_id as string,",
						"          transportista_id as string,",
						"          descripcion as string,",
						"          placa as string,",
						"          tipo as string,",
						"          capacidad_kg as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source5",
						"source5 derive(descripcion = trim(descripcion),",
						"          placa = upper(trim(placa)),",
						"          tipo = trim(tipo),",
						"          estado = trim(estado),",
						"          capacidad_kg = toDecimal(capacidad_kg)) ~> derivedColumn12",
						"derivedColumn12 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          vehiculo_id as string,",
						"          transportista_id as string,",
						"          descripcion as string,",
						"          placa as string,",
						"          tipo as string,",
						"          capacidad_kg as decimal(10,2),",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          vehiculo_id,",
						"          transportista_id,",
						"          descripcion,",
						"          placa,",
						"          tipo,",
						"          capacidad_kg,",
						"          estado",
						"     )) ~> sink5"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline cargar AS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "as_transportista",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_as_transportistas_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source4": {},
									"sink4": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "as_vehiculos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "as_transportista",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_as_vehiculos_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source5": {},
									"sink5": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_as_almacenes",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_as_almacenes_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_as_recepciones",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "as_transportista",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "df_as_almacenes",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "as_vehiculos",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_as_recepciones_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source3": {},
									"sink3": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_as_despachos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_as_almacenes",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "as_transportista",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "as_vehiculos",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "df_as_recepciones",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_as_almacenes_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_as_transportistas_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_as_vehiculos_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_as_recepciones_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1 cargar spl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_spl_afiliaciones",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow1",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Data flow2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_afiliaciones_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "spl_certificados_medicos_csv",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_spl_afiliaciones",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_certificados_medicos_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source4": {},
									"sink4": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "pl_asignaciones_mensuales",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_spl_afiliaciones",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_asignaciones_mensuales_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source2": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_cajas_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source3": {},
									"sink3": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_empleadores_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source5": {},
									"sink5": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow3",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "pl_asignaciones_mensuales",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_entregas_agencia_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source6": {},
									"sink6": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow4",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "pl_asignaciones_mensuales",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Data flow5",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_entregas_supermercado_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source7": {},
									"sink7": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow5",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_spl_supermercados_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source6": {},
									"sink6": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_spl_empleadores_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_spl_entregas_agencia_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_spl_entregas_supermercado_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_spl_supermercados_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline crear bja')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_bja_controles_prenatales_csv",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bja_controles_prenatales_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source2": {},
									"sink1": {}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_bja_partos_cv",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bja_partos_cv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source6": {},
									"sink6": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_bja_controles_pediatricos_csv",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_bja_partos_cv",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bja_controles_pediatricos_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_bja_pagos_csv",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bja_pagos_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source5": {},
									"sink5": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_bja_controles_prenatales_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_bja_controles_pediatricos_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_bja_pagos_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline cargar sup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_sup_catalogo_paquetes",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_sup_catalogo_paquetes",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source2": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_sup_controles",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_sup_controles",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source3": {},
									"sink3": {}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_sup_boletas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_sup_controles",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_sup_boletas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_sup_entregas_csv",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_sup_boletas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_sup_entregas_csv",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source4": {},
									"sink4": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_establecimientos_salud",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source3": {},
									"source4": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_inscripciones_prenatal",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source4": {},
									"source5": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_establecimientos_salud')]",
				"[concat(variables('factoryId'), '/dataflows/df_inscripciones_prenatal')]"
			]
		}
	]
}